@import url("https://fonts.google.com/specimen/Inter");
@import url("https://fonts.google.com/specimen/Lexend+Deca");
:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --transparent-white-2: hsla(0, 0%, 100%, 0.6);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: var(--transparent-white-1);
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section {
    max-width: 480px;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column-reverse;
  }
  
  article {
    margin: 2.75em 2em 1em 2em;
    text-align: center;
  }
  
  p {
    line-height: 1.75em;
  }
  
  .container {
    border-radius: 10px;
    overflow: hidden;
    background: var(--dark-desaturated-blue);
  }
  
  .infor {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 2em 0;
    width: 100%;
  }
  
  h1 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
  }
  h1 > * {
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .img-src {
    content: url("/stats-preview-card-component-main/images/image-header-mobile.jpg");
  }
  
  .side-img {
    background: var(--soft-violet);
  }
  
  .img-mono {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100);
    opacity: 0.8;
    mix-blend-mode: multiply;
  }

  .highlight {
    color: var(--soft-violet);
  }
  .uppercase {
    text-transform: uppercase;
    color: var(--transparent-white-2);
  }
  .center {
    text-align: center;
  }
  
  @media (min-width: 1120px) {
    section {
      max-width: 1110px;
      display: grid;
      grid-template-columns: 1fr 540px;
    }
  
    .infor {
      justify-content: start;
      display: flex;
      flex-direction: row;
      gap: 3.5em;
      margin: 0;
      width: 100%;
    }
  
    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 4.5em 8em 4.5em 4em;
      text-align: start;
    }
  
    img {
      display: block;
      width: 540px;
      height: 446px;
    }
  
    .img-src {
      content: url("./images/image-header-desktop.jpg");
    }
  
    h1 {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.4em;
    }
    h1 > * {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 1.4em;
    }
  
    h2 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
    }
  }